*{
    margin: 0;
}

body{
    background-color: rgb(170, 189, 201);
}

#enveloppe{
    margin-left: 15%;
    margin-right: 13%;
    height: 100%;
}

/*Définition du header*/
header{
    height: 97px;
    background-color: rgb(221, 221, 221);
    padding-top: 3px;
}

.superpositionnement{
    display: block;
    background-color: rgb(221, 221, 221);
}

/*Menu du haut*/
header div{
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}

header div ul{
    list-style: none;
    margin: 2px;
    height: 25px;
}

header div ul li{
    display: inline;
    font-family: calibri;
    margin-right: 3%;
}

header div ul li a{
    color: black;
    text-decoration: none;
    padding-top: 10px;
}

.portail{
    border-top: 4px solid rgb(69, 176, 224);
    color: rgb(69, 176, 224);
}

header div ul li a:hover{
    border-top: 4px solid rgb(69, 176, 224);
    color: rgb(69, 176, 224);
}

.no_border{
    border: none;
}

/*Menu secondaire*/    
header nav{
    display: inline-block;
    height: 57px;
    width: 100%;
}

header nav ul{
    list-style: none;
}

.image img{
    height: 53px;
}

.image{
    padding-top: 0;
    margin-bottom: 10px;
}

.barre{
    border-left: 0.5px solid rgb(221, 221, 221); 
}

header nav ul li{
    display: inline-block;
    border-right: 0.5px solid rgb(221, 221, 221);
    color: rgb(221, 221, 221);
    height: 57px;
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 7px;
}

form{
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(221, 221, 221);
}

header nav ul li a{
    color: rgb(221, 221, 221);
    margin-top: 7px;

}

.image{
    border: none;
    image-orientation: 
}

.test{
    display: inline-block;
    margin-left: 5px;
    margin-right: 11px;
}

.test:hover{
    color: rgb(69, 176, 224);
    border: none;
}

/*Définition de la premiere section*/
#premiere_section{
    height: 300px;
    padding: 2%;
}

article{
    color: rgb(27, 67, 130);
    width: 40%;
    text-align: justify;
    font-family: calibri;
    margin-left: 50%;
}

.texte{
    width: 80%;
}

aside{
    float: left;
    width: 50%;
}

aside h3{
    color: rgb(69, 176, 224);
    border-bottom: 0.5px solid rgb(69, 176, 224);
    margin-bottom: 5%;
}

aside h3 span{
    border-bottom: 0.5px solid rgb(255, 255, 255);
}

aside img{
    width: 55%; 
    border-radius: 15px;
}

aside p{
    margin-left: 45%;
    color: black;
    font-family: calibri;
}

h4{
    margin-top: 55px;
}

/*Couleur de fonds*/
#menu{
    background-color: rgb(221, 221, 221);
}

nav{
    background-color: rgb(20, 23, 54);
}

#premiere_section{
    background-color: rgb(255, 255, 255);
}

#deuxieme_section{
    background-color: rgb(214, 211, 230);
}

/*Définition de la deuxième section*/

#deuxieme_section{
    height: 200px;
}

#deuxieme_article{
    margin-left: 10px;
    padding-top: 25px; 
}

#deuxieme_article a{
    color: rgb(27, 67, 130);
    text-decoration: none;
}
#droite{
    float: right;
    width: 50%;
    margin-top: 25px; 
}


#login-form {

    margin: 2em 0 0 2em;
}

#login-form p {
    margin : 1em 0 1em 1em;
    padding-top: 1em;
    text-align : justify;
}

#login-form #login {
    margin-left : 4.2em;
}
























